# Django Settings
DJANGO_SECRET_KEY=django-insecure-replace-this-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*

# PostgreSQL Database
# Khi chạy với Docker Compose, DB_HOST sẽ tự động được gán thành 'db' trong mạng container
DB_NAME=lwb_monitoring
DB_USER=lwb_user
DB_PASSWORD=1
DB_HOST=db
DB_PORT=5432

# EMQX MQTT Broker (Mặc định kết nối Cloud EMQX qua TLS cổng 8883)
MQTT_HOST=y3123070.ala.asia-southeast1.emqxsl.com
MQTT_PORT=8883
MQTT_USERNAME=django-backend
MQTT_PASSWORD=1
MQTT_TOPIC=warehouse/site1/lwb/nodes/+/telemetry
MQTT_CA=/etc/ssl/certs/ca-certificates.crt
